@model NewsSite.WebUi.Models.CommentsListModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @*@foreach (var item in Model.Comments)
    {
        <h1>@item.Text</h1>
    }*@
    @if (Model.Comments.Where(x => x.ParentId == Model.Seed).Any())
    {
        <ul>
            @foreach (var node in Model.Comments)
            {
                if (node.ParentId == Model.Seed)
                {
                    <a>@node.Text</a>
                    NewsSite.WebUi.Models.CommentsListModel inner = new NewsSite.WebUi.Models.CommentsListModel
                    {
                        Seed = node.Id,
                        Comments = Model.Comments
                    };
                    @Html.Partial("_TreeList", inner)
                }
            }
        </ul>
    }
</body>
</html>
