.card{
    margin-bottom:30px;
  
}
.card-img-top {
    height:200px;
}
.tags {
    font-size: 16px;
    display: inline-block;
}
.card-header h1 {
    font-size:24px;
}
.card-header a{
    text-decoration:none;
    color:black;
}
