
@using NewsSite.WebUi.Models
@using NewsSite.WebUi.HtmlHelpers;
@model PostListViewModel

@{
    ViewData["Title"] = "News";
}

@foreach (var item in @Model.Posts)
{
    @Html.Partial("_PostSummary", item)
}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, tag = Model.CurrentCategory }))
</div>
