
@using NewsSite.WebUi.Models
@using NewsSite.WebUi.ViewModel
@using NewsSite.WebUi.HtmlHelpers
@model PostListViewModel

@{
    ViewData["Title"] = "News";
}


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-bar-rating/jquery.barrating.js"></script>

@foreach (var item in @Model.Posts)
{
    @Html.Partial("_PostSummary", new PostSummaryViewModel { Post = item, Ratings = Model.Ratings.Where(r => r.PostId == item.PostId) })
}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, tag = Model.CurrentCategory }))
</div>
