
@using NewsSite.WebUi.Models
@using NewsSite.WebUi.HtmlHelpers;
@model PostListViewModel

@{
    ViewData["Title"] = "List";
}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>

@foreach (var item in @Model.Posts)
{
    @Html.Partial("_PostSummary", item)

    @*foreach (var tag in item.PostTags.Select(e => e.Tag))
    {
        <p>@tag.Name;</p>
    }*@

}
