
@{
    ViewData["Title"] = "_AdminLayout";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <title></title>
</head>
<body>
    <div>
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        @RenderBody()
                    </div>
                  
                </div>
            </div>
        
    </div>
</body>
</html>